body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	display: none;
	background-color: #FF9F9F;
}

.jumbotron {
	background-image: url("bgimage.jpg");
	color: whitesmoke;
}


button {
	 padding: 20px;
	 border-radius: 5%;
	 border: 5px, solid;
	 width: 200px;
	 background-color: #FF8C1A;
}

#name {
	display: none;
}