body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	display: none;
}

button {
	 margin-right: 50%;
	 padding: 20px;
	 border: 5px, solid;
	 width: 200px;
}

#name {
	display: none;
}